/************************
    Available Classes:
    tripleform || Main Container of form
    responsiveform || the form element
    responsive-form--form-block || spans a group of inputs for a restpath-variable. 
    tripleform--autocomplete-formgroup || 
    tripleform--selectformgroup ||
    tripleform--textformgroup ||
*************************/

.tripleform .responsiveform {
    padding: 3em;
    max-width: 50em;
    /* background-color: whitesmoke; */
    border-left: 18em solid whitesmoke;
    border-bottom: 1em solid whitesmoke;
    box-shadow: 1px 1px 2px 10px inset whitesmoke;
}

.tripleform .responsiveform input {
    /* margin-bottom: .5em; */
}

.tripleform .responsiveform .form-group {
    margin-top: .1em;
}

.tripleform .tripleform--spinner {
    width: 1.5rem; 
    height: 1.5rem; 
    margin-left: 1em;
    color: lightgray;
}