/************************
    Available Classes:
    tripleform || Main Container of form
    responsiveform || the form element
    tripleform--autocomplete-formgroup || 
    tripleform--selectformgroup ||
    tripleform--textformgroup ||
*************************/

.tripleform .responsiveform {
    padding: 3em;
    box-shadow: 1px 1px 2px 10px inset whitesmoke;
    display: flex;
}

.tripleform .responsiveform input, small, select {
    margin-right: 10em;
    max-width: 20em;
    
}

.tripleform .responsiveform .form-group {
    overflow: hidden;
    display: inline;
}