/************************
    Available Classes:
    tripleform || Main Container of form
    responsiveform || the form element
    responsive-form--form-block || spans a group of inputs for a restpath-variable.  
    tripleform--autocomplete-formgroup || 
    tripleform--selectformgroup ||
    tripleform--textformgroup ||
*************************/

.tripleform .responsiveform {
    padding: 3em;
    box-shadow: 1px 1px 2px 10px inset whitesmoke;
}

.tripleform .responsiveform input, small, select {
    margin-right: 10em;
    max-width: 20em;
    
}

.tripleform .tripleform--spinner {
    width: 1.5rem; 
    height: 1.5rem; 
    margin-left: 1em;
    color: lightgray;
}

.tripleform .responsive-form--form-block {
    display: flex;  
}

.tripleform .responsive-form--form-block:first-child {
    justify-content: space-evenly;
    align-items: stretch;
}

.tripleform .responsive-form--form-block:nth-child(2) {
      margin-left: 4em;
}

.tripleform .responsive-form--form-block:nth-child(3) {
    margin-left: 4em;
}