/************************
    Available Classes:
    tripleform || Main Container of form
    responsiveform || the form element
    tripleform--autocomplete-formgroup || 
    tripleform--selectformgroup ||
    tripleform--textformgroup ||
*************************/

.tripleform .responsiveform {
    padding: 3em;
    max-width: 50em;
    /* background-color: whitesmoke; */
    border-left: 15em solid whitesmoke;
    border-bottom: 1em solid whitesmoke;
    /* border-radius: 5px; */
}

.tripleform .responsiveform input {
    /* margin-bottom: .5em; */
}

.tripleform .responsiveform .form-group {
    margin-top: .1em;
}